<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Extreme weather panorama project</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Merriweather&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
