<div id="featured" class="row medium-10">
    <p class="quote highlight medium-11">
      A monster approaches...
    </p>
    <p class="credit medium-11">&mdash; Instagram @sirirdgaf</p>
  <img class="storyImg" src="./images/Hagibis.png">
  <p class="credit medium-11">&mdash; Wikimedia</p>
</div>
