<section id="footer">
  <p>A project by: Andreas Schneider, Anna Meïra Greunig, Cagri Taskin, Carlo De Gaetano, Eirini Malliaraki, Erdem Şentürk, Kavya Sukumar, Sabine Niederer, Yvonne Volkart, Zoran Pantelic for MORE WORLD Berliner Gazette’s 20th Anniversary Conference, 2019
 </p>
</section>
