<div id="story2" class="border dark row medium-10">

    <p class="quote medium-11">
      It is well known that this is the typhoon season in Japan. How is it possible that there were no alternatives (in the planning of the tournament, ndr)? It is hard to give up the challenge with the All Black
    </p>
  <%= partial './partials/audioplayer', :locals => {:srcx => './images/sounds/BG_EcoData_Voice-4.wav'} %>
</div>
