<div id="story2" class="border dark row medium-10">
  <p class="quote medium-11">
    Are you ok?...Are you ok?</p>
    <p class="quote-cont highlight medium-11">
      Don't worry”
    </p>
  <img src="./images/wave.png" alt="">
</div>
