<div id="story2" class="border dark row medium-10">

    <p class="quote highlight medium-11">
      Waves are not objects; they are transfers of energy.</p>
      <p class="quote-cont medium-11"> Tomo?! Now I am in Ebisu. Haruta is fine - happy to see her friends in the kindergarten. Staff tells me we should come early today to pick her up. They seem to be worried about the Taifun. </p>
        <p class="quote highlight medium-11">
        Are you OK? Are you OK? </p>
        <p class="quote-cont medium-11">
        Please, once more - can’t hear you. What about food? Are we OK?  Monday? Should be  fine.We can ask Hiro  and Chisa to come over. You? Good! Ok, I try to find some drinks - You know, I think they like some wine from Yamanashi  Lets make a Candle-light dinner! Hmm. OK. will be back by 6.</p>
         <p class="quote highlight medium-11">Don’t worry!</p>

  <%= partial './partials/audioplayer', :locals => {:srcx => './images/sounds/BG_EcoData_Voice-6.wav'} %>
</div>
