<div id="story2" class="border dark row medium-10">

    <p class="quote highlight medium-11">
      Waves are not objects; they are transfers of energy.</p>
      <p class="quote-cont medium-11"> A barrier does not stop the energy transfer, but redirects it. If the energy of the wave is powerful enough, resistance will be breached.</p>

<p class="quote-cont medium-11">Thoughts and feelings are waves of the soul; Can we try, instead, to ride the waves? The waves of thoughts and feelings with kindness and acceptance?  Can we stop trying to hold back the waves?  Instead, observe them from a distance, letting them complete their journey within us, and let them go... </p>
  <%= partial './partials/audioplayer', :locals => {:srcx => './images/sounds/BG_EcoData_Voice-5.wav'} %>
</div>
