<div id="story1" class="row medium-10">
  <p class="quote medium-11">
    The birds know something is coming.  Never seen this many birds. The lines are completely filled with birds. The three lines on the left aren’t thick, they are all birds.</p>
    <p class="quote-cont highlight medium-11">
      A monster approaches...”
    </p>
  <img src="./images/stories/birds.jpg" alt="">
  <p class="credit">— Instagram @sirirdgaf</p>

  <%= partial './partials/audioplayer', :locals => {:srcx => './images/sounds/BG_EcoData_Voice-2.wav'} %>
</div>
