<div id="story2" class="border dark row medium-10">

    <p class="quote highlight medium-11">
      Don't worry”
    </p>
  <%= partial './partials/audioplayer', :locals => {:srcx => './images/sounds/BG_EcoData_Voice-1-1.wav'} %>
</div>
